<span>Compétences clés du métier :</span>
{{ form_widget(form.competence, {'attr': {'class': 'form-control'}}) }}
<br>
<span>Faits marquants depuis le dernier entretien :</span>
{{ form_widget(form.faitmarquant, {'attr': {'class': 'form-control'}}) }}
<br>
<span>Intérêts/motivations/qu’est-ce que vous aimez le plus dans votre activité ? </span>
{{ form_widget(form.interetmotivation, {'attr': {'class': 'form-control'}}) }}
<br>