<div class="panel panel-default">
    <div class="panel-heading">Avis de la personne chargée de l’entretien :</div>
    <div class="panel-body">
        <div class="form-group">
            {{ form_widget(form.entlbAvismanger, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Avis du salarié :</div>
    <div class="panel-body">
        <div class="form-group">
            {{ form_widget(form.entlbAviscollaborateur, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>