{% extends 'AccueilBundle:Templates:templateAccueil.html.twig' %}

{% block accueil %}
    <div class="jumbotron">
        <h1>Entretien professionnel</h1>   
    </div>

    <br>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Date de l'entretien :</span>
                {{ form_widget(form.entdtDateent, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <br>
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="glyphicon glyphicon-triangle-bottom"> Salarié</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            {% include 'AccueilBundle:Entretien:salarie.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="glyphicon glyphicon-triangle-bottom"> Personne chargée de l'entretien</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            {% include 'AccueilBundle:Entretien:manager.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-triangle-bottom"> Bilan de la période écoulée depuis le dernier entretien professionnel</span>
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% include 'AccueilBundle:Entretien:bilan.html.twig' %}
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-triangle-bottom"> Activité du salarié</span>
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% include 'AccueilBundle:Entretien:activite.html.twig' %}
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-triangle-bottom"> Perspectives d'évolution professionnelle du salarié</span>
                    </a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% include 'AccueilBundle:Entretien:perspective.html.twig' %}
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                        <span class="glyphicon glyphicon-triangle-bottom"> Appréciation globale sur l’entretien et l’année écoulée (à remplir en fin d’entretien)</span>
                    </a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {% include 'AccueilBundle:Entretien:appreciation.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}    
{% endblock %}  