<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ app.request.getSchemeAndHttpHost() ~ asset('css/bootstrap.min.css') }}">
        <meta charset="UTF-8" >
    </head>
    <body>
        <div class="jumbotron">
            <h1>Entretien professionnel</h1>   
        </div>

        <br>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span>Entreprise :</span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <span>Date de l'entretien :</span>
            </div>
        </div>
        <br>
        <span>Contexte :</span>
        <br>
        <br>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="row">                
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Salarié</h3>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Nom</span>
                                ""
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Prénom</span>
                                ""
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Date d'entrée dans l'entreprise</span>
                                ""
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Intitulé métier</span>
                                ""
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Niveau</span>
                                ""
                            </div>
                            <br>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Coefficient</span>
                                ""
                            </div>
                            <br>   
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Personne chargée de l'entretien</h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bilan de la période écoulée depuis le dernier entretien professionnel</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>            
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Activité du salarié</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div> 
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Perspectives d'évolution professionnelle du salarié</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>             
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Appréciation globale sur l’entretien et l’année écoulée (à remplir en fin d’entretien)</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>            
        </div>
    </body>