<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Nom Prénom</span>
    {{ form_widget(form.intervenant.intusNomPrenom, {'attr': {'class': 'form-control'}}) }}
</div>
<br>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Poste occupé</span>
    {{ form_widget(form.intervenant.intlbMetier, {'attr': {'class': 'form-control'}}) }}
</div>
<br>