{% extends 'AccueilBundle:Templates:templateAccueil.html.twig' %}

{% block accueil %}
    <h1>Administration des entretiens pro</h1>
    
    <h3><a href="{{path('accueil_admin_entretien')}}"><span class="label label-default">Création d'une campgane d'entretiens</span></a></h3>                    
{% endblock %}